<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<section class="header_area">
  <div id="home" class="header_hero">
      <ul class="header_social d-none d-lg-block">
          <li><a href="https://www.facebook.com/maharsh.patel.984/"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/maharsh__mahu/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/maharsh-patel-641777168/"><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
      <div class="container margin">
          <div class="row align-items-center justify-content-center justify-content-lg-between">
              <div class="col-lg-6">
                  <div class="header_hero_content">
                      <h5 class="header_sub_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Hey! I am</h5>
                      <h2 class="header_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Maharsh Patel</h2>
                      <span class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">I am Software Engineer based in Ontario, Canada. I have more than 3 years of experince working in IT and I had worked on multiple projects with different roles. To know more...</span>
                      <span class="container">
                        <div class="container">
                            <a href="about"><div class="btn rounded-pill pt-2 pb-2 pr-5 pl-5 text-light" style="background-color:#00a78e">About Me!</div></a>
                            <a href="projects"><div class="btn rounded-pill pt-2 pb-2 pr-5 pl-5 text-light pull-right" style="background-color:#00a78e">My Projects</div></a>
                      </div>
                      </span>
                      <span style="color:#00a78e "><i>-"Changing the world by changing code, one line at a time"</i></span>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-7 index">
                  <div class="header_hero_image wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="1.8s">
                      <img src="assets/images/hero.png" alt="hero">
                  </div>
              </div>
          </div> 
      </div> 
      <div class="header_hero_shape d-none d-lg-block"></div> 
  </div> 
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
