<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section id="services" class="services_area pt-115 pb-120">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section_title text-center pb-30">
                  <h5 class="sub_title">Services</h5>
                  <h3 class="main_title">Service I Provide</h3>
                  <ul class="line">
                      <li></li>
                      <li></li>
                      <li></li>
                  </ul>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                  <div class="service_icon">
                      <i class="lni lni-vector"></i>
                  </div>
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Data Analytics</a></h4>
                      <p>Provide data oriented solution for getting insights and predictions from the data.</p>
                  </div>
              </div> <!-- single service -->
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                  <div class="service_icon">
                      <i class="lni lni-layout"></i>
                  </div>
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Web Design</a></h4>
                      <p>Help develop web based application for small and large business. To make an online presence.</p>
                  </div>
              </div> <!-- single service -->
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  <div class="service_icon">
                      <i class="lni lni-ux"></i>
                  </div>
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">AI\ML Design</a></h4>
                      <p>Provide Artificial Intelligence and Machine Learning centric problem solutions.</p>
                  </div>
              </div> <!-- single service -->
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                  <div class="service_icon">
                      <i class="lni lni-code"></i>
                  </div>
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Frontend Development</a></h4>
                      <p>To build seamless frictionless experience to user by designing and developing Frontend.</p>
                  </div>
              </div> <!-- single service -->
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                  <div class="service_icon">
                      <i class="lni lni-briefcase"></i>
                  </div>
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Business Analysis</a></h4>
                      <p>To analyse business needs, treands and making data driven decision for a sustainable growth of business.</p>
                  </div>
              </div> <!-- single service -->
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_service mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.8s">
                  <div class="service_icon">
                      <i class="lni lni-bullhorn"></i>
                  </div>
                  <div class="service_content">
                      <h4 class="service_title"><a href="#">Digital Marketing</a></h4>
                      <p>Help to promote business using digital platform to increase engagement on the application.</p>
                  </div>
              </div> <!-- single service -->
          </div>
      </div> <!-- row -->
      <div class="d-flex align-items-center justify-content-center mt-5">
        <a href="assets/resume/maharsh_patel_resume.pdf" download><div class="btn bg-dark rounded-pill pt-2 pb-2 pr-5 pl-5 text-light">Resume</div></a>
      </div>
  </div> <!-- container -->
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
