<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section id="about" class="about_area pt-70 pb-120">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-9">
              <div class="about_image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                  <img src="assets/images/about_hero.png" alt="Hero">
                  <div class="about_shape"></div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about_content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                  <div class="section_title">
                      <h5 class="sub_title">Contact Me</h5>
                      <h3 class="main_title">Let's talk.</h3>
                      <ul class="line">
                          <li></li>
                          <li></li>
                          <li></li>
                      </ul>
                  </div> 
                  <p>I am a pationate software engineer with experience in multiple domain. I am looking forwad to work more in the domain of Artificial Intelligence and Machine learning. Feel free to reachout :)</p>

                  <div class="about_skills pt-15">
                    <table class="table table-striped-columns">
                      <tr>
                        <td>Name</td>
                        <td>Maharsh Patel</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>Ontario, Canada</td>
                      </tr>
                      <tr>
                        <td>Phone No</td>
                        <td>+1-647-936-6945</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>maharshpatel31@gmail.com</td>
                      </tr>
                    </table>
                  </div>
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-lg-4 col-sm-6 " >
                    <a href="https://www.facebook.com/maharsh.patel.984/"><i class="fa-brands fa-facebook" ></i></a></div> 
                    <div class="col-lg-4 col-sm-6 "><a href="https://www.instagram.com/maharsh__mahu/"><i class="fa-brands fa-instagram"></i></a></div>
                    <div class="col-lg-4 col-sm-6 "><a href="https://www.linkedin.com/in/maharsh-patel-641777168/"><i class="fa-brands fa-linkedin"></i></a></div>
                   
                  </div>
                  </div>
              </div> 
          </div>
      </div>
  </div>
</section>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
